<!doctype html>
<html>
        <head>
                {% if title %}
                <title>{{ title }} - NoteApp</title>
                {% else %}
                <title>Welcome to NoteApp</title>
                {% endif %}
        <head>
        <body>
           <div>
            Note Application:
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/logout">LogOut</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
      
