{% extends 'base.html' %}

{% block content %}
  <h2>Create Note</h2>
  <form method="POST" action="{{ url_for('create_note') }}">
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.title.label(class="form-control-label") }}
      {{ form.title(class="form-control") }}
      {% for error in form.title.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.note.label(class="form-control-label") }}
      {{ form.note(class="form-control") }}
      {% for error in form.note.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}
